/* Roots */
:root {
    ---black-grey: #292927;
    ---grey-text-secundary: #c9c9c9;
    ---black-grey-secundary: #4e4e4c;
    ---grey-third: #e7e7e7;
    ---gold-primary: #fab513;
    ---gold-slow: #ffc43d;
    ---gold-secundary: #ffe097;
    ---gold-third: #dad7d0;
    ---aqua-blue-dark: #1b9aaa;
    ---red-pink: #ef476f;

}
h2 {
    font-size: 30px;
}
/* Animations */
@keyframes sect1-text {
    0% {

    }

    50% {
        scale: 1.09;
        color: var(---gold-slow);
        text-shadow: 0 0 15px rgb(140, 140, 140);
    }

    100% {

    }
}
   


/* Index */

/* Header */
body {
    background: linear-gradient(#136a7577, #136a7577, white);
    height: fit-content;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.header {
    justify-content: space-between;
    width: 100%;
    border-radius: 0 0 25px 25px;
    display: flex;
    height: 150px;

}
.ul-header {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
.links-up{
    list-style-type: none;
    font-weight: 500;
}
.links-up:hover {
    text-shadow: 0 0 15px var(---black-grey);
}
.header-logo {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu {
    width: 65%;
    align-content: center;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.icon {
    height: 70px;
}
.logotext {
    height: 110px;
}

/* Header menu */
/* Menu Hamburger desplegable */
.menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

.menu.open {
    transform: translateX(0);
}

.menu .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 36px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo de las opciones del menú */
.menu ul {
    list-style: none;
    padding: 50px 0 0 0;
    text-align: center;
}

.menu ul li {
    padding: 20px;
    font-size: 24px;
    color: white;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos del botón de las tres barras (hamburguesa) */
.hamburger {
    position: absolute;

    cursor: pointer;
    font-size: 30px;
    z-index: 1000;
}
.menu-desp {
    display: none;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 20%;
}

@media only screen and (max-width: 767px) {
    .menu-desp {
        display: flex;
        align-items: center;
        width: 20%;
    }
    .logotext {
        width: 70%;
        height: auto;
    }
    .icon {
        width: 20%;
        height: auto;
    }
    .header-menu {
        display: none;
    }
    .header-logo {
        align-items: center;
    width: 80%;
}
    .header {
        
    justify-content: none;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: reverse;
}
}
/* Footer */
.footer {
    background-color: var(---black-grey);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    min-height: 300px;
    align-items: center;
    border-radius: 25px 25px 0 0;
    margin: 0;
    width: 100%;
    
    
    
}
a {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
    margin: 25px 0; text-align: center;
    transition: 150ms;
}
h3 {
    text-align: center;
    text-transform: uppercase;
}
.footer1 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
li:hover {
    scale: 1.09;
}
.icon, .logotext {
    filter: drop-shadow(0 0 20px white);
}
    
/* Main */
main {
    margin: 50px 0;
}
.sect1-main {
    display: flex;
    min-height: 75vh;
    
}
.sect1-main-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.sect1-main-left-cecade {
    height: 100px;
}
.sect1-main-right {
    width: 40%;
}
.sect1-main-right-img {
    width: 100%;
}
.sect1-main-left-h2 {
    animation: sect1-text infinite 7s;
    font-size: 45px;
}
.sect1-main p {
    font-weight: 500;
    font-size: 25px;
    text-align: center;

}
/* Sect2 */
.sect2-main {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.766);
    background-color: var(---black-grey-secundary);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
}
.sect2-main-1 {
    width: 90%;
    display: flex;
    border-radius: 25px;
}
.sect2-main-1-1 {
    text-align: center;
    padding: 40px;
    width: 60%;

}
.sect2-main-1-1 p {

    color: var(---grey-text-secundary);
}
.sect2-main-1-1 h2 {
    font-size: 30px;
    color: white;
}
.sect2-main-1-2 {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect2-main-1-2-img {
    width: 90%;
    border-radius: 25px;
}
/* Sect2-2 */
.sect2-main-2 {
    flex-direction: row-reverse;
    width: 95%;
    display: flex;
    border-radius: 25px;
    background-color: var(---black-grey-secundary);
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.sect2-main-2-1 {
    text-align: center;
    padding: 40px;
    width: 60%;

}
.sect2-main-2-1 h2 {
    font-size: 30px;
    color: white;
}
.sect2-main-2-1 p {
    color: var(---grey-text-secundary);
}
.sect2-main-2-2 {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect2-main-2-2-img {
    width: 90%;
    border-radius: 25px;
}

.acercade-sect2-main {
    height: 60px;
    text-align: center;
    width: 160px;
    border-radius: 40px;
    background-color: white;
    color: black;
    transition: 450ms;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.sect2-main-about-2 {
    display: none;
}
.acercade-sect2-main:hover {
    width: 250px;
    box-shadow: 0 0 15px var(---gold-slow);
    background-color: var(---gold-slow);
    .sect2-main-about-2 {
        display: block ;
    }


}

/* Sect3 */
.sect3-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
}
.sect3-main h2 {
    font-size: 35px;
}
.boxes {
    min-height: 170px;
    min-width: 170px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 70px;
    margin: 10px 20px;
    transition: 150ms;
}
.boxes:hover {
    scale: 1.09;
}
.sect3-main-products {
    display: flex;
    justify-content: space-evenly;
}
.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.sect3-main-products {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.sect3-main-products::-webkit-scrollbar {
    display: none;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(---grey-text-secundary);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev { left: 0; }
.next { right: 0; }

/* Sobre Nosotros */
.manadevida-about {
    filter: drop-shadow(0 0 5px var(---grey-text-secundary));
    width: 70%;
}
.redes-icon {
    height: 60px;
}
.sect0-about{
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sect0-about h2 {
    font-size: 30px;
}

.redes-about {
    margin: 10px 0 30px 0;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.redes-about p {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}
.redes-about a {
    display: flex;
}
.sect3-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.mapa-about {
    width: 80%;
    border-radius: 20px;
}

/* Contactanos */

.h1-contact {
    color: #4c91e0; /* Azul */
    text-align: center;
    margin-top: 30px;
}

.container-contact {
    text-align: center;
    max-width: 850px;
    margin: 30px auto;
    padding: 40px;
    background-color: rgb(233, 231, 231);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(32, 32, 32, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.contact-form input, 
.contact-form textarea, 
.contact-form button {
    width: 95%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #bebbbb;
    border-radius: 5px;
    transition: 200ms ease-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact-form input:focus, 
.contact-form textarea:focus, 
.contact-form button:focus {
    outline: none;
    background-color: var(---gold-third);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px var(---gold-secundary);
    border: 1px solid transparent;
}
textarea {
    resize: none;

}

.contact-form button {
    background-color: #4A90E2; /* Azul */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: var(---gold-primary); /* Azul más oscuro */
}

.container p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

